/*GLOBAL STYLES*/
body {
  background-color: #e2e1e0;
}

#header {
  width: 150px;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 100;
}

#header h1 {
  font-size: 25px;
  font-family: helveticaNeue;
  font-weight: lighter;
  padding-bottom: 25px;
  margin: 15px;
}

#navigation ul {
  list-style: none;
  font-family: helveticaNeue;
  padding-left: 0; 
  float: left;
}

li {
  text-align: center;
  padding: 20px;
  width: 85px;
  background-color: #fff;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#animationSpace {
  position: absolute;
  left: 500px;
  top: 50px;
}

/*SVG STYLES*/
svg {
  top: 200px;
  position: relative;
  transform: scale(3);
}

#IntersectionBackcolor {
  color: rgba(103,104,108, 1);
  opacity: 0;
  animation: 5s unhide forwards;
}

#Intersection g path {
  stroke-width: 2px;
  opacity: 1;
  stroke: #67686C;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  fill: none;
  transform-origin: center;
  animation: 5s textAnimation forwards;
  animation-delay: 1.5s;
}

#yellowArea {
  opacity: 0;
  animation: 1.5s slideLeft forwards;
  animation-timing-function: cubic-bezier(.73,1.09,.71,1.2)
}

#blueArea {
  opacity: 0;
  animation: 1.5s slideRight forwards;
  animation-timing-function: cubic-bezier(.73,1.09,.71,1.2);
}

#greenArea {
  transform: scaleX(0);
  transform-origin: center;
  animation: .75s grow forwards;
  animation-delay: .75s;
  animation-timing-function: cubic-bezier(.73,1.09,.71,1.2);;
}

@keyframes unhide {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  85% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
     opacity: 0;
     stroke-dashoffset: 100;
     transform: translateY(0px);
  }
  70% {
    transform: translateY(0px);
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 0px;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    stroke-dashoffset: 0;
    stroke-width: 0px;
  }
}

/*CANVAS STYLES*/